@property --gradient-angle {
  syntax: '<angle>';
  initial-value: 45deg;
  inherits: false;
}

.spbuttons {
    display: flex;
    position: relative;
    gap: 2rem;
    transition: all 250ms ease-in-out;
    cursor: pointer;
}

#ctmbutton {
    padding: 12px 24px;
    font-weight: 600; cursor: pointer; text-decoration: none;
    position: relative;
    text-decoration: none;
    color: var(--text-main);
    background: linear-gradient(var(--gradient-angle), var(--primary), #34003f, var(--secondary));
    padding: 10px 20px;
    border-radius: 10px;
    font-weight: 300;
    font-size: large;
    cursor: pointer;
}

#ctmbutton #ctme {
    position: relative;
    cursor: pointer;
}

#ctmbutton::before {
    content: "";
    position: absolute;
    inset: 2px;
    background: var(--bg-dark);
    border-radius: 10px;
}


#ctmbutton:hover {
    animation: rotateGradient 6s linear infinite;
}


#ctmbutton::before:hover {
    inset: 1px 1px 1.5px 2px;
}

@keyframes rotateGradient {
  0% {
    --gradient-angle: 45deg;
  }
  20% {
    --gradient-angle: 150deg;
  }
  100% {
    --gradient-angle: 405deg;
  }
}

#ctmbutton::after {
    content: "";
    position: absolute;
    inset: 0px;
    background: linear-gradient(15deg, var(--primary), #69007f, var(--secondary));
    border-radius: 9px;
    opacity: 0;
    filter: blur(20px);
    z-index: -1;
}

#ctmbutton:hover::after {
    opacity: 1;
}

